spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3308/book-library}
    username: ${SPRING_DATASOURCE_USERNAME:book-user}
    password: ${SPRING_DATASOURCE_PASSWORD:book-user-password}

  ai:
    ollama:
      base-url: ${SPRING_AI_OLLAMA_BASE_URL:http://localhost:11434}
      chat:
        model: ${SPRING_AI_OLLAMA_CHAT_MODEL:llama3.2}

jwt:
  secret: ${JWT_SECRET:?}
  expiration: ${JWT_EXPIRATION:?3600000}

frontend:
  origin: ${FRONTEND_URL:?}