spring:
  config:
    activate:
      on-profile: prod

  ai:
    model:
      chat: openai
    openai:
      base-url: https://openrouter.ai/api
      api-key: ${CHAT_API_KEY}
      chat:
        options:
          model: nvidia/nemotron-nano-9b-v2:free

  datasource:
    url: ${SPRING_DATASOURCE_URL:?SPRING_DATASOURCE_URL must be set in prod}
    username: ${SPRING_DATASOURCE_USERNAME:? must be set SPRING_DATASOURCE_USERNAME for prod}
    password: ${SPRING_DATASOURCE_PASSWORD:? must be set SPRING_DATASOURCE_USERNAME for prod}

jwt:
  secret: ${JWT_SECRET:?JWT_SECRET must be set in prod}
  expiration: ${JWT_EXPIRATION:?JWT_EXPIRATION must be set in prod}